body {
    background: radial-gradient(circle at top, #020617, #020617);
    color: #E5E7EB;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.glass-nav {
    background: rgba(2, 6, 23, 0.9);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(90deg, #8B5CF6, #22D3EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* GLASS */
.glass {
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(16px);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

/* SIDEBAR */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */
.sidebar ul li:hover {
    background: rgba(139, 92, 246, 0.2);
    transform: translateX(6px);
}

/* Active */
.sidebar ul li.active {
    background: linear-gradient(90deg, #8B5CF6, #22D3EE);
    color: white;
    font-weight: 500;
}

/* CONTENT */
.content-area {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IMAGE FIX */
.content-area img {
    max-width: 70%;
    border-radius: 12px;
    background: white;
    padding: 10px;
}

/* BUTTON */
.btn-glass {
    background: linear-gradient(90deg, #8B5CF6, #22D3EE);
    border: none;
    padding: 10px 25px;
    border-radius: 12px;
    color: white;
    transition: 0.3s;
}

.btn-glass:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(139, 92, 246, 0.6);
}

/* LOADER */
.loader {
    font-size: 18px;
    color: #22D3EE;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {opacity: 0.3;}
    50% {opacity: 1;}
    100% {opacity: 0.3;}
}

/* TABLE */
table {
    background: rgba(255,255,255,0.03);
    color: white;
}

/* PROGRESS BAR */
.progress {
    height: 25px;
    border-radius: 12px;
    overflow: hidden;
}

.progress-bar {
    background: linear-gradient(90deg, #22D3EE, #8B5CF6);
    font-weight: bold;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #8B5CF6;
    border-radius: 10px;
}

img {
    transition: 0.4s ease;
}

img:hover {
    transform: scale(1.05);
}