<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI CHATBOT</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
   

    <!-- Main Section -->
    <section class="main-section">
        <div class="container main-container">
            
            <div class="image-content">
                <img src="static/styles/DOCT.png" alt="Doctor Image" align="right">
            </div>
 <div class="text-content">
                <h2>MEDICAL CHATBOT</h2>
                <h1>Personal care for your healthy living</h1>
                <p>A medical chatbot leverages AI to provide health-related information and support through natural language interactions. It assists users by answering health questions, offering symptom analysis, scheduling appointments, and providing medication guidance. By simulating human-like conversation, it enhances accessibility to healthcare resources and supports users in managing their health needs efficiently.</p>
                 <a href="/home.html">
        <button>Chat Now</button>
    </a>
            </div>
        </div>
    </section>

   